<a href="#">
  <figure class="figure">
    <img src="assets/images/{{img}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      <figcaption class="figure-caption">{{yield}}</figcaption>
  </figure>
</a>
