<div class="container intro">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-xs-12 col-lg-5">
      <img src="assets/images/intro.jpg" class="img-fluid"/>
    </div>
    <div class="col-xs-12 col-lg-5">
      <h1>I bought a 2017 Mercedes Sprinter 170" EXT 4x4. I'm converting it into an off-grid adventure van.</h1>
    </div>
  </div>
</div>

<div class="container feed">
  <div class="row">
    {{#feed-entry}}
      <img
        class="figure-img img-fluid rounded"
        src="assets/images/bed-mock.jpg"
        alt="Sprinter platform bed mock"/>

      <figcaption class="figure-caption">
        Mocking up the bed space. The trick is to have enough height to fit stuff underneath, as well as enough to sit up straight in the bed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      <img
        class="figure-img img-fluid rounded"
        src="assets/images/divider-out.jpg"
        alt="Sprinter cab divider"/>

      <figcaption class="figure-caption">
        This thing is awkward and heavy.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      <img
        class="figure-img img-fluid rounded"
        src="assets/images/without-divider.jpg"
        alt="Sprinter without cab divider"/>

      <figcaption class="figure-caption">
        Divider removed.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      <img
        class="figure-img img-fluid rounded"
        src="assets/images/with-divider.jpg"
        alt="Sprinter with cab divider"/>

      <figcaption class="figure-caption">
        The cab divider needs to be removed. Plan is for the seats to swivel to expand the hangout space.
      </figcaption>
    {{/feed-entry}}

    {{#feed-entry}}
      <img
        class="figure-img img-fluid rounded"
        src="assets/images/intro.jpg"
        alt="Sprinter 170 EXT 4x4"/>

      <figcaption class="figure-caption">
        20 minutes after purchase. I'm smiling because I had no idea how much work I had created for myself.
      </figcaption>
    {{/feed-entry}}
  </div>
</div>

