<div class="container intro">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-xs-12 col-lg-5">
      <img src="assets/images/intro.jpg" class="img-fluid"/>
    </div>
    <div class="col-xs-12 col-lg-5">
      <h1>I bought a 2017 Mercedes Sprinter 170" EXT 4x4. I'm converting it into an off-grid adventure van.</h1>
    </div>
  </div>
</div>

<div class="container feed">
  <div class="row">
    {{#feed-entry img="bed-mock.jpg"}}
      Mocking up the bed space. The trick is to have enough height to fit stuff underneath, as well as enough to sit up straight in the bed.
    {{/feed-entry}}

    {{#feed-entry img="divider-out.jpg"}}
      This thing is awkward and heavy.
    {{/feed-entry}}

    {{#feed-entry img="without-divider.jpg"}}
      Goodbye divider.
    {{/feed-entry}}

    {{#feed-entry img="with-divider.jpg"}}
      The cab divider needs to be removed. Plan is for the seats to swivel to expand the hangout space.
    {{/feed-entry}}

    {{#feed-entry img="intro.jpg"}}
      20 minutes after purchase. I'm smiling because I had no idea how much work I had created for myself.
    {{/feed-entry}}
  </div>
</div>

